<div class="game-card-container" *ngIf="!selectedGame">
  <mat-card *ngFor="let game of games | async" class="game-card">
    <mat-card-header>
      <mat-card-title>{{ game.name }}</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="data:image/jpeg;base64,{{ game.picture }}"
      alt="Picture of {{ game.name }}"
    />
    <mat-card-content>
      <p>
        {{ game.shortDescription }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="handleSelection(game)">Play</button>
    </mat-card-actions>
  </mat-card>
</div>
<mat-toolbar *ngIf="selectedGame">
  <button mat-icon-button>
    <mat-icon>left</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
