<div *ngIf="matchWithWatchBot$ | async as match" class="row full-height">
  <ng-container *ngIf="match.logString; else noResult" [ngSwitch]="match.game.name">
    <lib-nanowar-visualizer
      *ngSwitchCase="'Planet War'"
      [jsonstring]="match.logString"
      [bot_id]="match.watchBotId ?? match.bots[0].id"
      class="full-height"
    ></lib-nanowar-visualizer>
    <lib-quoridor-visualizer
      *ngSwitchCase="'Quoridor'"
      [jsonstring]="match.logString"
      [bot_id]="match.watchBotId ?? match.bots[0].id"
      class="full-height"
    ></lib-quoridor-visualizer>
  </ng-container>
  <ng-template #noResult [ngSwitch]="true">
    <div *ngSwitchCase="match.runStatus.stage === MatchRunStage.RunSuccess">
      ERROR: match finished without result
    </div>
    <div *ngSwitchCase="match.runStatus.stage.endsWith('ERROR')">
      Something bad happened while running the match :(
      <div class="verbatim">
        {{ match.runStatus.log }}
      </div>
    </div>
    <div *ngSwitchDefault>
      <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
      Running...
    </div>
  </ng-template>
</div>
