.start-match-icon {
  cursor: pointer;
}

#match-list {
  display: flex;
  justify-content: center;

  #match-list-items-container {
    width: 80%;

    mat-list-item.match-list-item {
      margin: 1%;
      height: unset;
    }

    .match-list-item-content {
      display: flex;
      width: 100%;
      padding: 10px;
      justify-content: space-between;

      .delete-match-icon {
        display: block;
        cursor: pointer;
      }
    }
  }
}
