<mat-list>
  <div mat-subheader>
    Matches
    <mat-icon class="start-match-icon" (click)="startMatch()">add</mat-icon>
  </div>
  <div id="match-list">
    <div id="match-list-items-container">
      <mat-list-item class="match-list-item" *ngFor="let match of matches$ | async">
        <mat-card class="match-list-item-content">
          <a [routerLink]="['/match', match.id]">
            <div>{{ match.id }}</div>
          </a>
          <div>
            <mat-icon class="delete-match-icon" (click)="deleteMatch(match.id)"> delete</mat-icon>
          </div>
        </mat-card>
      </mat-list-item>
    </div>
  </div>
</mat-list>
