<mat-list>
  <div mat-subheader id="match-list-header">
    Matches
    <mat-icon class="start-match-icon" (click)="startMatch()">add</mat-icon>
  </div>
  <div id="match-list">
    <div id="match-list-items-container">
      <mat-list-item *ngFor="let match of matches$ | async">
        <div class="match-list-item">
          <mat-card [routerLink]="['/match', match.id]">
            <mat-card-content class="match-card-content {{ match.evalStatus }}">
              <span>
                {{ match.id }}
              </span>
              <mat-progress-spinner
                [mode]="'indeterminate'"
                [diameter]="15"
                [hidden]="match.evalStatus !== 'eval-in-progress'"
              >
              </mat-progress-spinner>
              <button mat-icon-button (click)="deleteMatch(match.id, $event)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-list-item>
    </div>
  </div>
</mat-list>
