.mat-mdc-list-item {
  height: unset !important;
}

.start-match-icon {
  cursor: pointer;
}

#match-list-header {
  display: flex;
  align-items: center;
}

#match-list {
  display: flex;
  justify-content: center;

  #match-list-items-container {
    width: 80%;

    .match-list-item {
      padding: 1%;
      cursor: pointer;

      .match-card-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }
  }
}
