.mat-mdc-list-item {
  height: unset !important;
}

.add-bot-icon {
  cursor: pointer;
}

#bot-list {
  display: flex;
  justify-content: center;

  #bot-list-items-container {
    width: 80%;

    .bot-list-item {
      padding: 1%;

      .bot-card-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 8px;
        padding-bottom: 8px;

        .delete-bot-icon {
          display: block;
          cursor: pointer;
        }
      }
    }
  }
}

mat-progress-spinner {
  visibility: hidden;
}

.eval-in-progress {
  background-color: lightyellow;

  mat-progress-spinner {
    visibility: visible;
  }
}

.eval-error {
  background-color: #ffe0e0;
}
