.add-bot-icon {
  cursor: pointer;
}

#bot-list-header {
  display: flex;
  align-items: center;
}

#bot-list {
  display: flex;
  justify-content: center;

  #bot-list-items-container {
    width: 80%;
  }
}
