.mat-mdc-list-item {
  height: unset !important;
}

.add-bot-icon {
  cursor: pointer;
}

#bot-list {
  display: flex;
  justify-content: center;

  #bot-list-items-container {
    width: 80%;

    .bot-list-item {
      padding: 1%;

      .bot-card-content {
        display: flex;
        justify-content: space-between;
        padding-top: 8px;
        padding-bottom: 8px;

        .delete-bot-icon {
          display: block;
          cursor: pointer;
        }
      }
    }
  }
}
