<mat-list class="card-list">
  <div mat-subheader id="bot-list-header">
    <span>Bots</span>
    <mat-icon class="add-bot-icon" (click)="addBot()">add</mat-icon>
  </div>
  <div id="bot-list">
    <div id="bot-list-items-container">
      <mat-list-item *ngFor="let bot of bots$ | async">
        <a class="card-list-item-container button-link" [routerLink]="['/bot', bot.id]">
          <mat-card>
            <mat-card-content class="card-list-item-content {{ bot.evalStatus }}">
              <span>{{ bot.name }}</span>
              <mat-progress-spinner
                [mode]="'indeterminate'"
                [diameter]="15"
                [hidden]="bot.evalStatus !== 'eval-in-progress'"
              >
              </mat-progress-spinner>
              <button mat-icon-button (click)="deleteBot(bot.id, $event)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card-content>
          </mat-card>
        </a>
      </mat-list-item>
    </div>
  </div>
</mat-list>
