<form [formGroup]="addBotForm" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>Add new bot</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>name</mat-label>
      <input matInput formControlName="name" required />
      <mat-error *ngIf="addBotForm.get('name')?.errors?.['serverError'] as nameError">
        {{ nameError }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <ngx-mat-file-input
        formControlName="sourceFile"
        [accept]="'.cpp, .zip'"
        placeholder="source file"
      ></ngx-mat-file-input>
      <mat-error *ngIf="addBotForm.get('sourceFile')?.getError('maxSize') as sizeError">
        The file size must not exceed {{ sourceFileMaxSize / 1000 }} KB.
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button type="submit" [disabled]="addBotForm.invalid">Add</button>
  </div>
</form>
