<mat-list class="card-list">
  <mat-list-item *ngFor="let entityType of entityTypes">
    <a
      class="card-list-item-container button-link"
      [routerLink]="entityType.enabled ? entityType.uri : null"
    >
      <mat-card>
        <mat-card-content class="card-list-item-content {{ entityType.enabled ? '' : 'disabled' }}">
          <span>{{ entityType.name }}</span>
          <button
            mat-icon-button
            [disabled]="!entityType.enabled"
            [routerLink]="[entityType.uri, 'create']"
            (click)="(false)"
          >
            <mat-icon>add</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </a>
  </mat-list-item>
</mat-list>
