/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

.notification-service {
  white-space: pre-wrap;
}

.notification-service-success {
  color: green;
}

.notification-service-error {
  color: red;
}

.notification-service-info {
  color: royalblue;
}

.mat-mdc-form-field-infix {
  width: auto !important;
}

.eval-in-progress {
  background-color: lightyellow;
}

.eval-error {
  background-color: #ffe0e0;
}

.card-list {
  .mat-mdc-list-item {
    height: unset !important;
  }

  .card-list-item-container {
    padding: 1%;

    .card-list-item-content {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}
